<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/musunsul29/src/main/webapp/WEB-INF/css/Mainlayout/Mainlayout.css'>
    <script src='#'></script>
</head>
<body>
<div class="Mainlayout">

    <Header>
        Header
        <nav>Nav</nav>
    </Header>



    <Section>
Section
    </Section>



    <Footer>
Footer
    </Footer>

</div>
</body>
</html>